extends layout

block content
    center
     h1 User Homepage
     title= title
     p
       | You can either view or create your own messages from this page.
       br
       br
     form(action ='/send', method = 'GET')
       a.button(href="/send") Send a Message 
     br 
     form(action ='/inbox', method = 'GET')
       a.button(href="/inbox") View your Inbox
        

    
